h1 Login

body
  table
    tr
      th Username
      th Password
    tr 
      form(name="login", method="post")
      th
        input(type="text", name="username")
      th
        input(type="text", name="password")
    tr
      th
        input(type="submit" value="OK")
  
